html {
    scroll-behavior: smooth;
}

h2, h5{
    font-family: Fantasy;
}

p{
    font-family: Comic Sans MS;
}

#header .container li a:hover {
    margin-top: 3px;
    text-decoration: underline;
    
}

#banner .carousel-inner img {
    max-height: 85vh;
    object-fit: cover;
}

#carousel {
    position: relative;
}

#group{
    width: 80%  ;
}

#personal_image{
    width: 50%;
}


#myself div.card{
    margin: auto;
    width: 50%;
    border: 3px solid black;
    padding: 10px;
}

#academical .row .card-image, #experience .row .card-image {
    display: flex;
    justify-content: center;
}

#academical .row .card img, #experience .row .card img{
    max-height: 200px;
    object-fit: cover;
    border-radius: 20px;
    display: flex;
    justify-content: center;
}

.footer {
    background-color:darkslategrey;
    padding: 3rem 0;
}

.footer_name{
    color:white;
    margin-bottom: 1.5remp;
}

.footer_container{
    color: darkgrey;
    padding-left: 2rem;
    row-gap: 2rem
}

